<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.backend.mapper.EducationHistoryMapper">
    <select id="findEduHistoryByUserID" resultType="com.backend.domain.career.EducationHistoryVO">
        SELECT *
        From education_history
        where user_id=#{userId}
    </select>

    <insert id="insertEduHistory">
        INSERT INTO education_history (
            user_id,
            school_name,
            major,
            start_date,
            end_date
        )
        VALUES (
                   #{userId},
                   #{schoolName},
                   #{major},
                   #{startDate},
                   #{endDate}
               )
    </insert>


    <update id="updateEduHistory">
        UPDATE education_history
        SET school_name = #{schoolName},
            major = #{major},
            start_date = #{startDate},
            end_date = #{endDate}
        WHERE education_id = #{educationId}
    </update>

    <delete id="deleteEduHistory">
        DELETE FROM education_history
        WHERE education_id = #{educationId}
    </delete>
</mapper>
