<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.backend.mapper.UsersMapper">
    <select id="getUserListAll" resultType="com.backend.domain.UsersVO">
        select * from users;
    </select>
</mapper>
