<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.backend.mapper.WorkDetailMapper">

    <resultMap id="WorkExperienceWithDetailsMap" type="com.backend.domain.career.WorkExperiencesVO">
        <id property="workId" column="work_id"/>
        <result property="userId" column="user_id"/>
        <result property="companyName" column="company_name"/>
        <result property="position" column="position"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>

        <collection property="details" ofType="com.backend.domain.work.WorkDetailsVO">
            <id property="detailId" column="detail_id"/>
            <result property="title" column="title"/>
            <result property="content" column="content"/>
        </collection>
    </resultMap>

    <select id="findWorkDetailsByUserId" resultMap="WorkExperienceWithDetailsMap">
        SELECT
            we.work_id,
            we.user_id,
            we.company_name,
            we.position,
            we.start_date,
            we.end_date,
            wd.detail_id,
            wd.title , -- 컬럼명이 겹치지 않도록 별칭(alias) 부여
            wd.content
        FROM
            work_experiences we
                LEFT JOIN
            work_details wd ON we.work_id = wd.work_id
        WHERE
            we.user_id = #{userId}
        ORDER BY
            wd.work_detail_index ;
    </select>

    <insert id="insertWorkDetail">
        insert into work_details (work_id,title,content)
        values (#{workId}, #{title},#{content})
    </insert>

    <update id="updateWorkDetail">
        update work_details
        set title= #{title},
            content= #{content}
        where detail_id= #{detailId}
    </update>

    <delete id="deleteWorkDetail">
        delete from work_details
        where detail_id = #{detailId}
    </delete>
</mapper>
