<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.backend.mapper.WorkExperienceMapper">
    <select id="findWorkExpByUserId" resultType="com.backend.domain.WorkExperiencesVO">
        SELECT *
        FROM work_experiences
        WHERE user_id=#{user_id}
    </select>

    <insert id="insertWorkExp">
        INSERT INTO work_experiences (user_id, company_name, position, start_date, end_date)
        VALUES (#{user_id}, #{company_name}, #{position}, #{start_date}, #{end_date})
    </insert>

    <update id="updateWorkExp">
        UPDATE work_experiences
        SET company_name = #{company_name} ,
            position = #{position},
            start_date = #{start_date},
            end_date = #{end_date}
        WHERE work_id = #{work_id}
    </update>

    <delete id="deleteWorkExp">
        DELETE
        FROM work_experiences
        WHERE work_id = #{work_id}
    </delete>
</mapper>
